body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(238, 238, 238, 0.938);
    margin: 0;
    min-width: 1000px;
}

 /* .container {
    width: 80%;
    margin-left: 10%;
    border: none;
    display: flex;
    flex-flow: column;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-top: 100px;
} */

.alert{
	display: flex;
	flex-flow: row;
}

.titleBar {
    margin-left: 20px;
}

.contentProfile {
    display: flex;
    flex-flow: row nowrap;
}

.navigationSlideBar {
    width: 15%;
    height: 331px;
    border: solid 1px rgb(0, 128, 255);
    margin-left: 10px;
    margin-top: 20px;
}

.navigationSlideBar h4 {
    background-color: rgb(0, 128, 255);
    color: white;
    font-size: 13px;
    height: 20px;
    padding: 3px;
    opacity: 0.6;
    margin-top: 0px;
}

.navigationSlideBar .list-group {
    list-style: none;
    padding-left: 0px;
    margin-top: -10px;
}

.navigationSlideBar .list-group .list-group-item {
    border-bottom: solid 1px rgb(0, 128, 255);
}

.navigationSlideBar .list-group .list-group-item h4 {
    background-color: rgb(255, 193, 128);
    color: rgb(77, 40, 0);
    font-size: 13px;
    height: 20px;
    padding: 3px;
    opacity: 0.8;
    margin-top: 0px;
}

.navigationSlideBar .list-group .list-group-item ul {
    list-style: none;
    padding-left: 0px;
    margin-top: -16px;
}

.navigationSlideBar .list-group .list-group-item ul li {
    height: 30px;
    border-bottom: solid 1px rgb(0, 128, 255);
    cursor: pointer;
}

.navigationSlideBar .list-group .list-group-item ul li:hover {
    background-color: rgb(153, 204, 255);
    opacity: 0.8;
}

.navigationSlideBar .list-group .list-group-item ul li a {
    text-decoration: none;
    color: rgb(0, 128, 255);
    font-size: 12px;
}
.content{
	margin:20px;
}
.mainContent {
    width: 85%;
    border: none;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 5%;
}

.mainContent form {
    width: 70%;
    margin-left: 15%;
}

.mainContent fieldset {
    display: block;
    margin-left: 0px;
    margin-right: 10px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: none;
    border-bottom: solid 1px rgb(0, 128, 255);
}

.mainContent fieldset .ctrlUnit {
    display: flex;
    flex-flow: row;
}

.mainContent fieldset dt {
    width: 100px;
}

.mainContent fieldset input[type=text] {
    width: 150%;
}

.mainContent fieldset dd ul {
    padding: 0;
}

.button {
    background-color: rgb(255, 193, 128);
    border: none;
    color: rgb(77, 40, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px;
}

.button:hover {
    opacity: 0.8;
}
/* xem bai moi */
.mainContent .form-xembaimoi{
    width: 100%;
    height: auto;
    background: white;
    margin-left: 0;
}

.mainContent .form-xembaimoi table{
    width: 100%;
    border-collapse: collapse;
    font-family: "Trebuchet MS" ,Arial, Helvetica, sans-serif;
}
.mainContent .form-xembaimoi table td, th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.mainContent .form-xembaimoi table tr:nth-child(even){
    background-color: #f2f2f2;
}
.mainContent .form-xembaimoi table tr:hover{
    background-color: #ddd;
}
.mainContent .form-xembaimoi table th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FACE9C;
    color:#945305;
}
.mainContent .form-xembaimoi table img{
    border-radius: 50%;
}
.mainContent .form-xembaimoi table .td1{
    text-align: left;
}
.mainContent .form-xembaimoi table a{
    text-decoration: none;
}
.mainContent .form-xembaimoi table .th1{
    width: 30px;
}
.container .parse{
    width: 96%;
    height: 50px;
}
.container .parse .parse-content{
    width: 300px;
    height: 100%;
    float: right;
}
.container .parse .parse-content .page{
    display: inline-block;
    padding: 0px 9px;
    margin-top: 18px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
.container .parse .parse-content .page:hover{
    background: #fefefe;
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);

}
.container .parse .parse-content .active{
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}
/* edit menu */
.menu {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu .dropdown{
    height: 45px;
    float: left;
}
.menu .dropdown .dropbtn{
    margin: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
}

.menu .dropdown:hover {
    border-bottom: red solid 5px;
    text-decoration: none;
}
.menu .dropdown{
   display: inline-block;
}
.menu .dropdown .dropdown_content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2px;
}
.menu .dropdown .dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu .dropdown .dropdown_content a:hover{
    background-color: #f1f1f1
}
.menu .dropdown:hover .dropdown_content{
    display: block;
}
/* end edit menu */



