body {
  margin: 0;
}

.display{
  display: none;
}
.signup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.signin {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.form_login{
  box-sizing: border-box;
  width: 260px;
  background-color:#fff;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  padding-bottom: 40px;
  border-radius: 5px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: fixed;
  top: 100px;
  left: 40%;
}
.form_login h1{
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  color: #1abc9c;
}
.form_login input{
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
.form_login input:focus, .form_login input:valid{
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.form_login input:focus::-webkit-input-placeholder,.form_login input:valid::.form_login input:valid{
  color: #1abc9c;
  font-size: 11px;
  transform: translateY(-1px);
  visibility: visible !important;
}
.form_login button{
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.form_login button:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.bottom-text{
  box-sizing: border-box;
  color: #0e6252;
  font-size: 12px;
  text-align: center;
}
.bottom-text p  {
	font-size:14px;
}
 .bottom-text a {
  color: #1abc9c;
  text-decoration: none;
  font-size:14px;
	}

.bottom-text p a{
	color:#1abc9c;
	margin-left: 5px;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
}
.bottom-text p a:hover {
	color:#ef4d4d;

}
.bottom-text h4 {
	font-size:10px;
	color:#1abc9c;
	margin-top: 10px;
    color:#ef4d4d;
	transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
}
.bottom-text h4 a:hover {
	color:#ef4d4d;
}
.register{
  width:600px;
  height:500px;
  background-color:#fff;
  padding:5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: fixed;
  top: 100px;
  left: 30%;
}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
.register h1{
  font-weight: 200;
  color: #888888;
  font-size:16pt;
  /* background: transparent url(../img/h1.png) no-repeat center left; */
  padding-left: 33px;
  margin: 7px 5px 8px 8px;
}
.register p{
  font-size: 8pt;
  clear:both;
  margin: 0;
  color:gray;
  padding:4px;
}
.register .row1{
  width:550px;
  padding:5px;
  float:left;
  border-top:1px solid #F5F5F5;
  margin-bottom:15px;
}
.register .row1 label{
  width:140px;
  float: left;
  text-align: right;
  margin-right: 6px;
  margin-top:2px;
}
.register legend{
  color: #1abc9c;
  padding:2px;
  margin-left: 14px;
  font-weight:bold;
  font-size: 14px;
  font-weight:100;
}
.register input{
  width: 140px;
  color: #505050;
  float: left;
  margin-right: 5px;
}
.register input .long{
  width: 247px;
  color: #505050;
}
.register input[type=radio]{
      width:15px;
}
.register .row1 .gender{
  margin-top:1px;
  margin-bottom:2px;
  width:34px;
  text-align:left;
  line-height:19px;
}
.register input[type=text]{
  border: 1px solid #E1E1E1;
  height: 18px;
}
.register input[type=password]{
  border: 1px solid #E1E1E1;
  height: 18px;
}
.register .button{
  background: #1abc9c;
  padding: 8px 10px 8px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  cursor: pointer;
  float:left;
  font-size:18px;
  margin:10px;
}
.register select{
  border: 1px solid #E1E1E1;
  width: 130px;
  float:left;
  margin-bottom:3px;
  color: #505050;
  margin-right:5px;
}
.register .day{
    width: 40px;
}
.register .month{
    width: 40px;
}
.register .year{
  width: 60px;
}
.register input:focus .register select:focus{
      background-color: #efffe0;
}
.xem_header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  color: rgba(255, 255, 255, 255);
  font: normal normal bold 11px
      Arial,Tahoma,Calibri,Verdana,Geneva,sans-serif;
      position: relative;
}

.profile_wrap {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(252, 252, 252);
  background-color: rgba(255, 255, 255, 0); /* Black w/ opacity */
}

.profile {
  width: 280px;
  height: 250px;
  border: teal solid 1px;
  border-top: teal solid 4px;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 2px 2px #888888;
  position: relative;
  top: 70px;
  left: 70%;
}

.profile .profile_header {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: teal solid 1px;
}

.profile .profile_header .image {
  margin-right: 10px;
}

.profile .profile_header .image img {
  width: 100px;
  height: 100px;
}

.profile .profile_header .infor .username {
  font-size: 20px;
  font-weight: bold;
}

.profile .profile_header .infor .level {
  color: #888888;
}

.profile .profile_content {
  display: flex;
  flex-flow: row wrap;
}

.profile .profile_content .element {
  width: 50%;
}

.profile .profile_content .element ul {
  list-style-type: none;
  padding: 10px;
}

.profile .profile_content .element li {
  color: teal;
}
.profile .profile_content .element li a {
  color: teal;
  text-decoration: none;
}

.profile .profile_content .element li a:hover {
  text-decoration: underline;
}

/* header */

.header-search{
  width: 100%;
	background-color:#292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
  box-sizing: border-box;
  top: 0;
}

.header-search .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-search .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-search .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-search .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-search .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-search .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	opacity: 0.9;
}

/* The search box */

.header-search .header-limiter form {
	float:right;
	position: relative;
	right: 80px;
	margin-left: 40px;
	border-radius: 3px;
	background-color:  #3a3c3e;
	width: 44px;
	height: 39px;
	cursor: pointer;

	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* CSS search icon */

.header-search .header-limiter form:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	border: 2px solid #fff;
	width: 9px;
	height: 9px;
	top: 12px;
	left: 14px;
}

.header-search .header-limiter form:after {
	position: absolute;
	content: '';
	background-color: #fff;
	width: 2px;
	height: 8px;
	top: 22px;
	left: 26px;
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
	transform: rotate(-44deg);
}

/* The search box */

.header-search .header-limiter form input {
	display: none;
	position: absolute;
	right: 42px;
	padding: 11px 12px 9px;
	border: none;
	width: 210px;
	border-radius: 2px 0 0 2px;
	height: 39px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* Login/Sign up buttons */

.header-search  .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-search  .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header-search  .header-limiter ul li:hover{
	opacity: 1;
}
/* The sign up button */

.header-search .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* Making the header responsive. */

@media all and (max-width: 600px) {

	.header-search {
		padding: 15px;
		position: relative;
	}

	.header-search .header-limiter h1 {
		float:none;
		font-size: 24px;
		line-height: 1;
	}

	.header-search .header-limiter nav {
		text-align: center;
		float: none;
		margin: 0;
	}

	.header-search .header-limiter nav a li {
		font-size: 13px;
	}

	.header-search .header-limiter form {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.header-login-signup .header-limiter ul {
		display: none;
	}

}

.header-search  .header-limiter .userProfile {
  margin-right: 20px;
  position: relative;
}

.header-search  .header-limiter .userProfile .accountUsername {
  position: absolute;
  top: -10px;
  right: -12px;
}

.header-search  .header-limiter .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: 80px;
}

/* end header */

/* begin content */

.title{
  position: sticky;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 100px;
   margin-right: 100px;
   margin-left: 200px;
   max-width: 1000px;
}
.lable {
  border-radius: 5px;
  background-color: #FACE9C;
  font-family: Arial, Helvetica, sans-serif;
}
.topic label {
  font-family: Arial, Helvetica, sans-serif;
  width:200px;
  border-radius: 5px;
  background-color: #b7d2ff;
}
.topic img{
  height: 40px;
  width: 40px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* end content */
/* Footer */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}


/* End footer */
