body {
  margin: 0;
}

.display{
  display: none;
}
.signup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.signin {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.form_login{
  box-sizing: border-box;
  width: 260px;
  background-color:#fff;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  padding-bottom: 40px;
  border-radius: 5px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: fixed;
  top: 100px;
  left: 40%;
}
.form_login h1{
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  color: #1abc9c;
}
.form_login input{
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
.form_login input:focus, .form_login input:valid{
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.form_login input:focus::-webkit-input-placeholder,.form_login input:valid::.form_login input:valid{
  color: #1abc9c;
  font-size: 11px;
  transform: translateY(-1px);
  visibility: visible !important;
}
.form_login button{
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.form_login button:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.bottom-text{
  box-sizing: border-box;
  color: #0e6252;
  font-size: 12px;
  text-align: center;
}
.bottom-text p  {
	font-size:14px;
}
 .bottom-text a {
  color: #1abc9c;
  text-decoration: none;
  font-size:14px;
	}

.bottom-text p a{
	color:#1abc9c;
	margin-left: 5px;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
}
.bottom-text p a:hover {
	color:#ef4d4d;

}
.bottom-text h4 {
	font-size:10px;
	color:#1abc9c;
	margin-top: 10px;
    color:#ef4d4d;
	transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
}
.bottom-text h4 a:hover {
	color:#ef4d4d;
}
.register{
  width:550px;
  height:auto;
  background-color:#fff;
  padding:5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: fixed;
  top: 100px;
  left: 30%;
}

.register h1{
  font-weight: 200;
  color: #888888;
  font-size:16pt;
  /* background: transparent url(../img/h1.png) no-repeat center left; */
  padding-left: 33px;
  margin: 7px 5px 8px 8px;
}
.register .row1 p{
  font-size: 14pt;
  clear:both;
  margin: 0;
  color:gray;
  padding:4px;
}
.register .row1{
  width:500px;
  height: auto;
  padding:5px;
  float:left;
  border-top:1px solid #F5F5F5;
  margin-bottom:15px;
}
.register .row1 label{
  width:140px;
  float: left;
  text-align: right;
  margin-right: 6px;
  margin-top:2px;
}
.register legend{
  color: #1abc9c;
  padding:2px;
  margin-left: 14px;
  font-weight:bold;
  font-size: 14px;
  font-weight:100;
}
.register input{
  width: 200px;
  height: auto;
  color: #505050;
  float: left;
  margin-right: 5px;
}
.register input .long{
  width: 247px;
  color: #505050;
}
.register input[type=radio]{
      width:15px;
}
.register .row1 .gender{
  margin-top:1px;
  margin-bottom:2px;
  width:34px;
  text-align:left;
  line-height:19px;
}
.register input[type=text]{
  border: 1px solid #E1E1E1;
  height: 18px;
}
.register input[type=password]{
  border: 1px solid #E1E1E1;
  height: 18px;
}
.register .button{
  background: #1abc9c;
  padding: 8px 10px 8px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  cursor: pointer;
  float:left;
  font-size:18px;
  margin:10px;
}
.register select{
  border: 1px solid #E1E1E1;
  width: 130px;
  float:left;
  margin-bottom:3px;
  color: #505050;
  margin-right:5px;
}
.register .day{
    width: 40px;
}
.register .month{
    width: 40px;
}
.register .year{
  width: 60px;
}
.register input:focus .register select:focus{
      background-color: #efffe0;
}
.xem_header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  color: rgba(255, 255, 255, 255);
  font: normal normal bold 11px
      Arial,Tahoma,Calibri,Verdana,Geneva,sans-serif;
      position: relative;
}

.profile_wrap {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(252, 252, 252);
  background-color: rgba(255, 255, 255, 0); /* Black w/ opacity */
}

.profile {
  width: 280px;
  height: 250px;
  border: teal solid 1px;
  border-top: teal solid 4px;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  position: relative;
  top: 70px;
  left: 70%;
}

.profile .profile_header {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: teal solid 1px;
}

.profile .profile_header .image {
  margin-right: 10px;
}

.profile .profile_header .image img {
  width: 100px;
  height: 100px;
}

.profile .profile_header .infor .username {
  font-size: 20px;
  font-weight: bold;
}

.profile .profile_header .infor .level {
  color: #888888;
}

.profile .profile_content {
  display: flex;
  flex-flow: row wrap;
}

.profile .profile_content .element {
  width: 50%;
}

.profile .profile_content .element ul {
  list-style-type: none;
  padding: 10px;
}

.profile .profile_content .element li {
  color: teal;
}
.profile .profile_content .element li a {
  color: teal;
  text-decoration: none;
}

.profile .profile_content .element li a:hover {
  text-decoration: underline;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* header */

.header-search{
  width: 100%;
	background-color:#292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
  box-sizing: border-box;
}

.header-search .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-search .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-search .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-search .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-search .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-search .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	opacity: 0.9;
}

/* The search box */
.fa-search{
	margin-top: 12px;
}
.header-search .header-limiter form {
	float:right;
	position: relative;
	right: 30px;
	margin-left: 40px;
	border-radius: 3px;
	background-color:  #3a3c3e;
	width: 44px;
	height: 39px;
	cursor: pointer;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* The search box */

.header-search .header-limiter form input {
	display: none;
	position: absolute;
	right: 42px;
	padding: 11px 12px 9px;
	border: none;
	width: 210px;
	border-radius: 2px 0 0 2px;
	height: 39px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* Login/Sign up buttons */

.header-search  .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-search  .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
  margin-top: 16px;
	opacity:0.9;
}

.header-search  .header-limiter ul li:hover{
	opacity: 1;
}
/* The sign up button */

.header-search .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* end header */

/* begin content */
.social{
  margin-left:880px;
}
.title{
  width: 100%;
  height: 1000px;
  padding-right: 15px;
  padding-left: 20px;
  margin-top: 100px;
   margin-right: 100px;
   margin-left: 200px;
   max-width: 1000px;
   box-sizing: border-box;
   box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);

}
.labeltopic {

  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #FACE9C;
  font-family: Arial, Helvetica, sans-serif;
}
.labeltopic p{
    height: 20px;
    font-size: 12px; color:#BD6B09;
}

.topic{
  margin-top: 10px;
  height: 60px;
}
.topic p {
  font-size: 12px;
  float: right;
  margin-top: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width:220px;
  border-radius: 5px;
  background-color: #b7d2ff;
}
.topic span{
  float: left;
  font-size:10px;
  margin-left:30px;
}

.topic span a{
  font-size:15px;
}

.fa-comments{
  color: blue;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: #555;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.navbar a {
  position: absolute;
  float: left;
  color: white;
  text-decoration: none;
  font-size: 15px;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* end content */
/* Footer */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}



/* End footer */

/* sildebar right */
/* The sidebar */

.sidebar-right {
	position: sticky;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	top: 250px;
	width: 280px;
}


.sidebar-right .latest-blog-posts {
	background-color: #292c2f;
}

.sidebar-right .latest-blog-posts h3 {
	background-color:  #2f5377;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 20px 30px;
	text-align: left;
	color:  #ffffff;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.sidebar-right .latest-blog-posts .element-title .fa {
	margin-right: 15px;
}

.sidebar-right .latest-blog-posts ul {
	list-style: none;
	margin: 0;
	text-align: left;
	padding: 30px 40px;
}

.sidebar-right .latest-blog-posts ul li {
	line-height: 1.2;
	margin: 0 0 14px;
}

.sidebar-right .latest-blog-posts ul li a {
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

.sidebar-right .latest-blog-posts ul li span {
	color: #92999f;
	font-size: 11px;
	display: block;
	margin-top:4px;
}

/* The left sidebar */

.sidebar-left {
  position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 90px;
	left: 0;
	bottom: :80px;
	background-color: #292c2f;
	width: 150px;
	padding: 20px 0;
}

.sidebar-left .sidebar-links {
	margin: 20px auto;
}

.sidebar-left .sidebar-links a {
	display: block;
	text-decoration: none;
	margin: 0 auto 5px auto;
	padding: 20px 0;
	background-color: #35393e;
	text-align: center;
	color:  #b3bcc5;
	font-size: 12px;
	font-weight: bold;
	border-left-width: 2px;
	border-left-style: solid;
}

.sidebar-left .sidebar-links a i.fa {
	display: block;
	font-size: 35px;
	margin-bottom: 5px;
}

.sidebar-left .sidebar-links a.selected{
	background-color: #ffffff;
	color:  #7c8085;
	font-size: 12px;
	font-weight: bold;
	cursor: default;
}

/* Link Colors */

.sidebar-left .sidebar-links a.link-blue {
	border-color: #487db2;
}
.sidebar-left .sidebar-links a.link-blue i.fa {
	color: #487db2;
}

.sidebar-left .sidebar-links a.link-red {
	border-color: #da4545;
}
.sidebar-left .sidebar-links a.link-red i.fa {
	color: #da4545;
}

.sidebar-left .sidebar-links a.link-yellow {
	border-color: #d0d237;
}
.sidebar-left .sidebar-links a.link-yellow i.fa {
	color: #d0d237;
}

.sidebar-left .sidebar-links a.link-green {
	border-color: #86be2e;
}
.sidebar-left .sidebar-links a.link-green i.fa {
	color: #86be2e;
}
/* Viet Bai */
.vietbai{
  width:1000px;
  margin: 20px auto 0px auto;
  height:auto;
  background-color:#fff;
  padding:0px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.content{
  margin-top: 100px;
}

.tieude{
  height: 50px;
  margin-top:20px;
  margin-left: 20px;
}
.text1{
  border: 1px solid black;
  border-radius: 3px;
  width: 350px;
  height: 35px;
  margin-left: 50px;
  font-size: 20px;
  font-family: Arial;
}
.text2{
  border: 1px solid black;
  border-radius: 3px;
  width: 350px;
  height: 35px;
  margin-left: 54px;
  font-size: 20px;
  font-family: Arial;
}
.select1{
  border: 1px solid black;
  border-radius: 3px;
  width: 150px;
  height: 35px;
  margin-left: 104px;
}
.button{
  border: none;
  background: #151d28;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 100px;
  color: white;
  margin-left: 150px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.button:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.vietbai li{
  list-style-type: none;
}
.vietbai a{
  text-decoration: none;
}
.vietbai nav{
  width: 100%;
  height: auto;
  background: #151d28;
}
.vietbai nav ul{
  width: 100%;
  height: 40px;
  text-align: left;
}
.vietbai nav ul li{
  display: inline-table;
  padding: 0px 15px;
  line-height: 40px;
}
.vietbai nav ul li a{
  color: white;
}
.vietbai nav ul li:hover{
  background: #1abc9c;
  text-transform: 1.2s;
}
.vietbai nav ul li a:hover{
  color: #666;
}
.checkbox1{
  width: 225px;
  margin-left: 50px;
}
.checkbox1 label{
  margin-left: 10px;
}
.checkbox1 label:hover{
  color: #1abc9c;
}
/* End Viet Bai */

/* Xem Bai */
.xembai{
  width:1000px;
  margin: 20px auto 0px auto;
  height:auto;
  background-color:#fff;
  padding:0px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.imgElement{
  width: 100%;
  height: 600px;
}
.xembai pre{
  font-family: Arial;
  font-size: 17px;
  margin: 10px;
}
.xembai h2{
  color: blue;
  margin-left: 69px;
}
.xembai h3{
  color: blue;
  margin-left: 69px;
}
.button-bot{
  margin-left: 49px;
  padding: 10px
}
.button-bot .b1{
  border: none;
  background: #151f2a;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  width: 100px;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.button-bot .b1:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.comment{
  width:80%;
  margin: 20px auto 0px auto;
  height:200px;
  background-color:#eff1f3;
  padding:10px;
}
.comment-content{
  display: flex;
}
.comment-content img{
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  margin-top: 30px;
  margin-left: 30px;
  border: 2px solid #eff1f3;
}
.xem-comment{
  margin-top: 20px;
  margin-left: 145px;
}
.xem-comment a{
  color: #76a1bf;
}
.xem-comment a:hover{
  color:blue;
}
.button-comment{
  margin-right: 10px;
  padding: 10px
}
.b2{
  border: none;
  background: #151f2a;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  width: 100px;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
/* End Xem Bai */
