/* Giving the page a width */



/* The sidebar */

.sidebar-right {
	position: sticky;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	top: 250px;
	width: 280px;
}


.sidebar-right .latest-blog-posts {
	background-color: #292c2f;
}

.sidebar-right .latest-blog-posts h3 {
	background-color:  #2f5377;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 20px 30px;
	text-align: left;
	color:  #ffffff;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.sidebar-right .latest-blog-posts .element-title .fa {
	margin-right: 15px;
}

.sidebar-right .latest-blog-posts ul {
	list-style: none;
	margin: 0;
	text-align: left;
	padding: 30px 40px;
}

.sidebar-right .latest-blog-posts ul li {
	line-height: 1.2;
	margin: 0 0 14px;
}

.sidebar-right .latest-blog-posts ul li a {
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

.sidebar-right .latest-blog-posts ul li span {
	color: #92999f;
	font-size: 11px;
	display: block;
	margin-top:4px;
}

/* Making the sidebar responsive */

@media (max-width: 900px) {

	.sidebar-right {
		position: inherit;
		float: none;
		width: auto;
	}

}
