<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Forum Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/user/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPostController</servlet-name>
    <servlet-class>controller.ViewPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPostController</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePostController</servlet-name>
    <servlet-class>controller.CreatePostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePostController</servlet-name>
    <url-pattern>/user/create-post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPostBySubjectController</servlet-name>
    <servlet-class>controller.ShowPostBySubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostBySubjectController</servlet-name>
    <url-pattern>/subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexAdminController</servlet-name>
    <servlet-class>controller.IndexAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdminController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectAdminController</servlet-name>
    <servlet-class>controller.SubjectAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAdminController</servlet-name>
    <url-pattern>/admin/subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersAdminController</servlet-name>
    <servlet-class>controller.UsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersAdminController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostAdminController</servlet-name>
    <servlet-class>controller.PostAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAdminController</servlet-name>
    <url-pattern>/admin/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePostController</servlet-name>
    <servlet-class>controller.DeletePostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostController</servlet-name>
    <url-pattern>/user/postdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPostFollowUserController</servlet-name>
    <servlet-class>controller.ShowPostFollowUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostFollowUserController</servlet-name>
    <url-pattern>/user/followpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPostController</servlet-name>
    <servlet-class>controller.UserPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPostController</servlet-name>
    <url-pattern>/user/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateSubjectController</servlet-name>
    <servlet-class>controller.CreateSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSubjectController</servlet-name>
    <url-pattern>/admin/subjectadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditSubjectController</servlet-name>
    <servlet-class>controller.EditSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubjectController</servlet-name>
    <url-pattern>/admin/subjectedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSubjectController</servlet-name>
    <servlet-class>controller.DeleteSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectController</servlet-name>
    <url-pattern>/admin/subjectdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/admin/userdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>controller.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/admin/useradd</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>EditUserController</servlet-name>
    <servlet-class>controller.EditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserController</servlet-name>
    <url-pattern>/admin/useredit</url-pattern>
  </servlet-mapping>
</web-app>