<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Forum Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404page</location>
  </error-page>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <context-param>
    <param-name>userfile.dir</param-name>
    <param-value>files/user</param-value>
  </context-param>
  <context-param>
    <param-name>postfile.dir</param-name>
    <param-value>files/post</param-value>
  </context-param>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>ErrorPageController</servlet-name>
    <servlet-class>controller.ErrorPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorPageController</servlet-name>
    <url-pattern>/404page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowLoginController</servlet-name>
    <servlet-class>controller.ShowLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginController</servlet-name>
    <url-pattern>/show-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/user/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPostController</servlet-name>
    <servlet-class>controller.ViewPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPostController</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePostController</servlet-name>
    <servlet-class>controller.CreatePostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePostController</servlet-name>
    <url-pattern>/user/create-post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPostBySubjectController</servlet-name>
    <servlet-class>controller.ShowPostBySubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostBySubjectController</servlet-name>
    <url-pattern>/subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowNewPostsController</servlet-name>
    <servlet-class>controller.ShowNewPostsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNewPostsController</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexAdminController</servlet-name>
    <servlet-class>controller.IndexAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdminController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectAdminController</servlet-name>
    <servlet-class>controller.SubjectAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAdminController</servlet-name>
    <url-pattern>/admin/subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersAdminController</servlet-name>
    <servlet-class>controller.UsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersAdminController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostAdminController</servlet-name>
    <servlet-class>controller.PostAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAdminController</servlet-name>
    <url-pattern>/admin/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePostController</servlet-name>
    <servlet-class>controller.DeletePostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostController</servlet-name>
    <url-pattern>/user/postdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnablePostAdminController</servlet-name>
    <servlet-class>controller.EnablePostAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnablePostAdminController</servlet-name>
    <url-pattern>/admin/post/enable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeSubjectPost</servlet-name>
    <servlet-class>controller.ChangeSubjectPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSubjectPost</servlet-name>
    <url-pattern>/admin/post/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnableUserAdminController</servlet-name>
    <servlet-class>controller.EnableUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnableUserAdminController</servlet-name>
    <url-pattern>/admin/user/enable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPostFollowUserController</servlet-name>
    <servlet-class>controller.ShowPostFollowUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostFollowUserController</servlet-name>
    <url-pattern>/user/followpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPostController</servlet-name>
    <servlet-class>controller.UserPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPostController</servlet-name>
    <url-pattern>/user/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateSubjectController</servlet-name>
    <servlet-class>controller.CreateSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSubjectController</servlet-name>
    <url-pattern>/admin/subjectadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditSubjectController</servlet-name>
    <servlet-class>controller.EditSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubjectController</servlet-name>
    <url-pattern>/admin/subjectedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSubjectController</servlet-name>
    <servlet-class>controller.DeleteSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectController</servlet-name>
    <url-pattern>/admin/subjectdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/admin/userdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>controller.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/admin/useradd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserController</servlet-name>
    <servlet-class>controller.EditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserController</servlet-name>
    <url-pattern>/admin/useredit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePasswordByAdminController</servlet-name>
    <servlet-class>controller.ChangePasswordByAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordByAdminController</servlet-name>
    <url-pattern>/admin/user/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePasswordByUserController</servlet-name>
    <servlet-class>controller.ChangePasswordByUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordByUserController</servlet-name>
    <url-pattern>/user/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentPostController</servlet-name>
    <servlet-class>controller.CommentPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentPostController</servlet-name>
    <url-pattern>/user/post/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCommentPostController</servlet-name>
    <servlet-class>controller.DeleteCommentPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentPostController</servlet-name>
    <url-pattern>/user/post/comment/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikePostController</servlet-name>
    <servlet-class>controller.LikePostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikePostController</servlet-name>
    <url-pattern>/user/post/like</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeCommentController</servlet-name>
    <servlet-class>controller.LikeCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeCommentController</servlet-name>
    <url-pattern>/user/post/comment/like</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileMemberController</servlet-name>
    <servlet-class>controller.ProfileMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileMemberController</servlet-name>
    <url-pattern>/user/profilemember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFollowController</servlet-name>
    <servlet-class>controller.AddFollowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFollowController</servlet-name>
    <url-pattern>/user/follow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPostsBySearchController</servlet-name>
    <servlet-class>controller.ShowPostsBySearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostsBySearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotifyUserController</servlet-name>
    <servlet-class>controller.NotifyUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyUserController</servlet-name>
    <url-pattern>/user/notification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationPageController</servlet-name>
    <servlet-class>controller.NotificationPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationPageController</servlet-name>
    <url-pattern>/user/notificationpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMessageController</servlet-name>
    <servlet-class>controller.SendMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageController</servlet-name>
    <url-pattern>/user/sendmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>controller.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/user/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageDetailController</servlet-name>
    <servlet-class>controller.MessageDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDetailController</servlet-name>
    <url-pattern>/user/message/messagedetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageAdminController</servlet-name>
    <servlet-class>controller.MessageAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageAdminController</servlet-name>
    <url-pattern>/admin/messageadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageAdminReplyController</servlet-name>
    <servlet-class>controller.MessageAdminReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageAdminReplyController</servlet-name>
    <url-pattern>/admin/messagereply</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/forgot-password</url-pattern>
  </servlet-mapping>
</web-app>